<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.make.finance.mapper.AnnualDepositSummaryMapper">

    <resultMap type="AnnualDepositSummary" id="AnnualDepositSummaryResult">
        <result property="id" column="id"/>
        <result property="year" column="year"/>
        <result property="totalDeposit" column="total_deposit"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <sql id="selectAnnualDepositSummaryVo">
        select id, year, total_deposit, remark, create_time, update_time, user_id
        from annual_deposit_summary
    </sql>

    <select id="selectAnnualDepositSummaryList" parameterType="AnnualDepositSummary"
            resultMap="AnnualDepositSummaryResult">
        <include refid="selectAnnualDepositSummaryVo"/>
        <where>
            <if test="year != null ">and year = #{year}</if>
            <if test="totalDeposit != null ">and total_deposit = #{totalDeposit}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectAnnualDepositSummaryById" parameterType="Long" resultMap="AnnualDepositSummaryResult">
        <include refid="selectAnnualDepositSummaryVo"/>
        where id = #{id}
    </select>
    <select id="selectAnnualDepositSummaryByYear" resultType="com.make.finance.domain.AnnualDepositSummary">
        <include refid="selectAnnualDepositSummaryVo"/>
        where `year` = #{year} and user_id = #{userId}
    </select>

    <insert id="insertAnnualDepositSummary" parameterType="AnnualDepositSummary" useGeneratedKeys="true"
            keyProperty="id">
        insert into annual_deposit_summary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="year != null">year,</if>
            <if test="totalDeposit != null">total_deposit,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="year != null">#{year},</if>
            <if test="totalDeposit != null">#{totalDeposit},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateAnnualDepositSummary" parameterType="AnnualDepositSummary">
        update annual_deposit_summary
        <trim prefix="SET" suffixOverrides=",">
            <if test="year != null">year = #{year},</if>
            <if test="totalDeposit != null">total_deposit = #{totalDeposit},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAnnualDepositSummaryById" parameterType="Long">
        delete
        from annual_deposit_summary
        where id = #{id}
    </delete>

    <delete id="deleteAnnualDepositSummaryByIds" parameterType="String">
        delete from annual_deposit_summary where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>