<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.make.stock.mapper.EtfPriceAlertsMapper">

    <resultMap type="EtfPriceAlerts" id="EtfPriceAlertsResult">
        <result property="id" column="id"/>
        <result property="alertType" column="alert_type"/>
        <result property="alertDate" column="alert_date"/>
        <result property="stockCode" column="stock_code"/>
        <result property="stockName" column="stock_name"/>
        <result property="latestPrice" column="latest_price"/>
        <result property="thresholdPrice" column="threshold_price"/>
        <result property="indexCount" column="index_count"/>
        <result property="isEnabled" column="is_enabled"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="selectEtfPriceAlertsVo">
        select id,
               alert_type,
               alert_date,
               stock_code,
               stock_name,
               latest_price,
               threshold_price,
               index_count,
               is_enabled,
               created_at,
               updated_at
        from etf_price_alerts
    </sql>

    <select id="selectEtfPriceAlertsList" parameterType="EtfPriceAlerts" resultMap="EtfPriceAlertsResult">
        <include refid="selectEtfPriceAlertsVo"/>
        <where>
            <if test="alertType != null  and alertType != ''">and alert_type = #{alertType}</if>
            <if test="alertDate != null ">and alert_date = #{alertDate}</if>
            <if test="stockCode != null  and stockCode != ''">and stock_code = #{stockCode}</if>
            <if test="stockName != null  and stockName != ''">and stock_name like concat('%', #{stockName}, '%')</if>
            <if test="latestPrice != null ">and latest_price = #{latestPrice}</if>
            <if test="thresholdPrice != null ">and threshold_price = #{thresholdPrice}</if>
            <if test="indexCount != null ">and index_count = #{indexCount}</if>
            <if test="isEnabled != null ">and is_enabled = #{isEnabled}</if>
            <if test="updatedAt != null ">and updated_at = #{updatedAt}</if>
        </where>
    </select>

    <select id="selectEtfPriceAlertsById" parameterType="Long" resultMap="EtfPriceAlertsResult">
        <include refid="selectEtfPriceAlertsVo"/>
        where id = #{id}
    </select>

    <insert id="insertEtfPriceAlerts" parameterType="EtfPriceAlerts" useGeneratedKeys="true" keyProperty="id">
        insert into etf_price_alerts
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="alertType != null and alertType != ''">alert_type,</if>
            <if test="alertDate != null">alert_date,</if>
            <if test="stockCode != null and stockCode != ''">stock_code,</if>
            <if test="stockName != null and stockName != ''">stock_name,</if>
            <if test="latestPrice != null">latest_price,</if>
            <if test="thresholdPrice != null">threshold_price,</if>
            <if test="indexCount != null">index_count,</if>
            <if test="isEnabled != null">is_enabled,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="alertType != null and alertType != ''">#{alertType},</if>
            <if test="alertDate != null">#{alertDate},</if>
            <if test="stockCode != null and stockCode != ''">#{stockCode},</if>
            <if test="stockName != null and stockName != ''">#{stockName},</if>
            <if test="latestPrice != null">#{latestPrice},</if>
            <if test="thresholdPrice != null">#{thresholdPrice},</if>
            <if test="indexCount != null">#{indexCount},</if>
            <if test="isEnabled != null">#{isEnabled},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
        </trim>
    </insert>

    <update id="updateEtfPriceAlerts" parameterType="EtfPriceAlerts">
        update etf_price_alerts
        <trim prefix="SET" suffixOverrides=",">
            <if test="alertType != null and alertType != ''">alert_type = #{alertType},</if>
            <if test="alertDate != null">alert_date = #{alertDate},</if>
            <if test="stockCode != null and stockCode != ''">stock_code = #{stockCode},</if>
            <if test="stockName != null and stockName != ''">stock_name = #{stockName},</if>
            <if test="latestPrice != null">latest_price = #{latestPrice},</if>
            <if test="thresholdPrice != null">threshold_price = #{thresholdPrice},</if>
            <if test="indexCount != null">index_count = #{indexCount},</if>
            <if test="isEnabled != null">is_enabled = #{isEnabled},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEtfPriceAlertsById" parameterType="Long">
        delete
        from etf_price_alerts
        where id = #{id}
    </delete>

    <delete id="deleteEtfPriceAlertsByIds" parameterType="String">
        delete from etf_price_alerts where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>