<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.make.stock.mapper.GoldProductPriceMapper">

    <resultMap type="GoldProductPrice" id="GoldProductPriceResult">
        <result property="id" column="id"/>
        <result property="bank" column="bank"/>
        <result property="product" column="product"/>
        <result property="price" column="price"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectGoldProductPriceVo">
        select id, bank, product, price, create_time, update_time
        from gold_product_price
    </sql>

    <select id="selectGoldProductPriceList" parameterType="GoldProductPrice" resultMap="GoldProductPriceResult">
        <include refid="selectGoldProductPriceVo"/>
        <where>
            <if test="bank != null  and bank != ''">and bank = #{bank}</if>
            <if test="product != null  and product != ''">and product = #{product}</if>
            <if test="price != null ">and price = #{price}</if>
        </where>
    </select>

    <select id="selectGoldProductPriceById" parameterType="Long" resultMap="GoldProductPriceResult">
        <include refid="selectGoldProductPriceVo"/>
        where id = #{id}
    </select>

    <insert id="insertGoldProductPrice" parameterType="GoldProductPrice" useGeneratedKeys="true" keyProperty="id">
        insert into gold_product_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bank != null and bank != ''">bank,</if>
            <if test="product != null and product != ''">product,</if>
            <if test="price != null">price,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bank != null and bank != ''">#{bank},</if>
            <if test="product != null and product != ''">#{product},</if>
            <if test="price != null">#{price},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateGoldProductPrice" parameterType="GoldProductPrice">
        update gold_product_price
        <trim prefix="SET" suffixOverrides=",">
            <if test="bank != null and bank != ''">bank = #{bank},</if>
            <if test="product != null and product != ''">product = #{product},</if>
            <if test="price != null">price = #{price},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGoldProductPriceById" parameterType="Long">
        delete
        from gold_product_price
        where id = #{id}
    </delete>

    <delete id="deleteGoldProductPriceByIds" parameterType="String">
        delete from gold_product_price where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectGoldProductPriceByName" parameterType="GoldProductPrice" resultMap="GoldProductPriceResult">
        <include refid="selectGoldProductPriceVo"/>
        where `bank` = #{bank}
    </select>

    <insert id="batchInsertGoldProductPrice" parameterType="java.util.List">
        insert into gold_product_price (bank, product, price, create_time, update_time) values
        <foreach collection="list" item="item" separator=",">
            (#{item.bank}, #{item.product}, #{item.price}, now(), now())
        </foreach>
    </insert>

    <update id="batchUpdateGoldProductPrice" parameterType="java.util.List">
        update gold_product_price
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="price = case" suffix="end,">
                <foreach collection="list" item="item">
                    when id = #{item.id} then #{item.price}
                </foreach>
            </trim>
            <trim prefix="update_time = case" suffix="end,">
                <foreach collection="list" item="item">
                    when id = #{item.id} then now()
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>