<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.make.stock.mapper.SalesDataMapper">

    <resultMap type="SalesData" id="SalesDataResult">
        <result property="id" column="id"/>
        <result property="recordDate" column="record_date"/>
        <result property="profit" column="profit"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <sql id="selectSalesDataVo">
        select id, record_date, profit, create_time, update_time, user_id
        from sales_data
    </sql>

    <select id="selectSalesDataList" parameterType="SalesData" resultMap="SalesDataResult">
        <include refid="selectSalesDataVo"/>
        <where>
            <if test="recordDate != null ">and record_date = #{recordDate}</if>
            <if test="profit != null ">and profit = #{profit}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectSalesDataById" parameterType="Long" resultMap="SalesDataResult">
        <include refid="selectSalesDataVo"/>
        where id = #{id}
    </select>

    <insert id="insertSalesData" parameterType="SalesData" useGeneratedKeys="true" keyProperty="id">
        insert into sales_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordDate != null">record_date,</if>
            <if test="profit != null">profit,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordDate != null">#{recordDate},</if>
            <if test="profit != null">#{profit},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateSalesData" parameterType="SalesData">
        update sales_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordDate != null">record_date = #{recordDate},</if>
            <if test="profit != null">profit = #{profit},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSalesDataById" parameterType="Long">
        delete
        from sales_data
        where id = #{id}
    </delete>

    <delete id="deleteSalesDataByIds" parameterType="String">
        delete from sales_data where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>