<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.make.stock.mapper.StockBigMoneyAlertMapper">
    
    <resultMap type="StockBigMoneyAlert" id="StockBigMoneyAlertResult">
        <result property="id"    column="id"    />
        <result property="stockCode"    column="stock_code"    />
        <result property="tradeDate"    column="trade_date"    />
        <result property="tradeTime"    column="trade_time"    />
        <result property="price"    column="price"    />
        <result property="volume"    column="volume"    />
        <result property="avgVol"    column="avg_vol"    />
        <result property="alertMsg"    column="alert_msg"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStockBigMoneyAlertVo">
        select id, stock_code, trade_date, trade_time, price, volume, avg_vol, alert_msg, create_time, update_time from stock_big_money_alert
    </sql>

    <select id="selectStockBigMoneyAlertList" parameterType="StockBigMoneyAlert" resultMap="StockBigMoneyAlertResult">
        <include refid="selectStockBigMoneyAlertVo"/>
        <where>  
            <if test="stockCode != null  and stockCode != ''"> and stock_code = #{stockCode}</if>
            <if test="tradeDate != null "> and trade_date = #{tradeDate}</if>
            <if test="tradeTime != null "> and trade_time = #{tradeTime}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="volume != null "> and volume = #{volume}</if>
            <if test="avgVol != null "> and avg_vol = #{avgVol}</if>
            <if test="alertMsg != null  and alertMsg != ''"> and alert_msg = #{alertMsg}</if>
        </where>
    </select>
    
    <select id="selectStockBigMoneyAlertById" parameterType="String" resultMap="StockBigMoneyAlertResult">
        <include refid="selectStockBigMoneyAlertVo"/>
        where id = #{id}
    </select>

    <insert id="insertStockBigMoneyAlert" parameterType="StockBigMoneyAlert" useGeneratedKeys="true" keyProperty="id">
        insert into stock_big_money_alert
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stockCode != null and stockCode != ''">stock_code,</if>
            <if test="tradeDate != null">trade_date,</if>
            <if test="tradeTime != null">trade_time,</if>
            <if test="price != null">price,</if>
            <if test="volume != null">volume,</if>
            <if test="avgVol != null">avg_vol,</if>
            <if test="alertMsg != null">alert_msg,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stockCode != null and stockCode != ''">#{stockCode},</if>
            <if test="tradeDate != null">#{tradeDate},</if>
            <if test="tradeTime != null">#{tradeTime},</if>
            <if test="price != null">#{price},</if>
            <if test="volume != null">#{volume},</if>
            <if test="avgVol != null">#{avgVol},</if>
            <if test="alertMsg != null">#{alertMsg},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStockBigMoneyAlert" parameterType="StockBigMoneyAlert">
        update stock_big_money_alert
        <trim prefix="SET" suffixOverrides=",">
            <if test="stockCode != null and stockCode != ''">stock_code = #{stockCode},</if>
            <if test="tradeDate != null">trade_date = #{tradeDate},</if>
            <if test="tradeTime != null">trade_time = #{tradeTime},</if>
            <if test="price != null">price = #{price},</if>
            <if test="volume != null">volume = #{volume},</if>
            <if test="avgVol != null">avg_vol = #{avgVol},</if>
            <if test="alertMsg != null">alert_msg = #{alertMsg},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockBigMoneyAlertById" parameterType="String">
        delete from stock_big_money_alert where id = #{id}
    </delete>

    <delete id="deleteStockBigMoneyAlertByIds" parameterType="String">
        delete from stock_big_money_alert where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>